<!DOCTYPE html>
<!--
Template Name: Interlingua
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html lang="">
<head>
<title>Interlingua</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul>
        <li><i class="fa fa-phone"></i> +244 (923) 447 936</li>
        <li><i class="fa fa-envelope-o"></i> isway.tecnologias@gmail.com</li>
      </ul>
    </div>
    <!-- Login -->
    <!-- <div class="fl_right">
      <ul>
        <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
      </ul>
    </div> -->
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="index.html"><%= link_to image_tag("longn.gif", class:"icop")+"", contents_path %></a></h1>
      <br />
      <h6>Tecnologias</h6>
    </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
        <li><strong>Telemovel:</strong><br>
          +244 (919) 944 051</li>
        <li><strong>Telemovel:</strong><br>
          +244 (924) 550 076</li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </header>
  <nav id="mainav" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul class="clear">
      <li class="active"><%= link_to 'Home', contents_path %></li>

      <li><a class="drop" href="#">Sobre nós</a>
        <ul>
          <li><%= link_to 'Saudações de Isway', saudacos_path %></li>
          <li><a href="pages/full-width.html">Contatos Principais</a></li>
          <li><%= link_to 'Equipa de Administração', equipas_path %></li>
          <li><a href="pages/sidebar-right.html">Curriculo</a></li>
          <li><a href="pages/basic-grid.html">Parceria</a></li>
        </ul>
      </li>
      <li><a class="drop" href="#">Admissões</a>
        <ul>
          <li><a href="pages/gallery.html">Gallery</a></li>
          <li><a href="pages/full-width.html">Full Width</a></li>
          <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
          <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
          <li><a href="pages/basic-grid.html">Basic Grid</a></li>
        </ul>
      </li>
      <li><%= link_to 'Estudantes', "" %></li>
      <li><a class="drop" href="#">Cursos</a>
        <ul>
          <li><a href="pages/gallery.html">Gallery</a></li>
          <li><a href="pages/full-width.html">Full Width</a></li>
          <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
          <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
          <li><a href="pages/basic-grid.html">Basic Grid</a></li>
        </ul>
      </li>
      <li><a class="drop" href="#">Produtos</a>
        <ul>
          <li><a href="pages/gallery.html">Todos</a></li>
          <li><a href="pages/gallery.html">Sistema Escolar</a></li>
          <li><a href="pages/full-width.html">Sistema de Venda</a></li>
          <li><a href="pages/sidebar-left.html">Sistema Clinico</a></li>
          <li><a href="pages/sidebar-right.html">Sistema de Gestão de Redes</a></li>
          <li><a href="pages/basic-grid.html">Sistema de venda de Peças</a></li>
        </ul>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </nav>
</div>
